.App {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

h1 {
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 1.2em;
  color: #228390;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: #228390;
  border-bottom: 1px solid #228390;
  transition: 250ms all;
  text-decoration: none;
}

a:hover,
a:visited {
  border-color: transparent;
}

a:visited {
  color: #666666;
  border-color: #666666;
}

a:hover {
  color: #228390;
}

acronym {
  text-decoration: none;
}

.note {
  color: #666666;
}

.fetch-message,
header > p {
  padding: 0 1rem;
}

/* Errors */

.error {
  margin: 1rem 0;
  padding: 1rem 0;
  background: #333333;
  color: white;
  font-size: .8rem;
}

.error code {
  color: red;
  font-size: 1rem;
}

.error p:last-child {
  margin: 0;
}

.validation-instructions {
  margin: 1rem 0 0;
  color: #238390;
}

/* Form */

.user-input form {
  margin: .5rem 0 1rem ;
  padding: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

select,
input,
button {
  border-color: #d9d9d9 #ccc #b3b3b3;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 1rem;
  border-radius: 3px;
  padding: .5rem;
}

button {
  background-color: #eeeeee;
  color: #666666;
  transition: all 250ms ease-in-out;
}

.is-active button {
  background-color: lightblue;
  color: black;
}


.is-active button:focus,
.is-active button:hover {
  outline: none;
  border: 1px solid #228390;
  background-color: white;
}

.is-active button:hover {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 40px;
  max-width: 100%;
  cursor: pointer;
}

select:focus,
input:focus {
  outline: none;
  border-color: #238390;
}

/* Remove default arrow (IE) */
select::-ms-expand {
  display: none;
}

.person-selection {
  position: relative;
}

.person-selection:after {
  content: "\25BE";
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 16px;
  z-index: -1;
}

.input-numbers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.user-input h2 {
  color: #228390;
  font-size: 1.2rem;
  margin: 0 0 0 1.7rem;
  font-style: italic;
}

.date-selection {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.date-selection a {
  display: block;
  margin: .5rem 1rem .5rem 0;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.date-input,
.id-input {
  width: 80px;
}

.year-input {
  min-width: 94px;
}

.date-input {
  margin: 1rem 1rem 0 0;
}

.id-input {
  margin: 1rem 1rem 0 0;
}

.id-input-wrapper {
  display: flex;
  align-items: flex-end;
}

label {
  font-size: .7rem;
  text-indent: 10px;
}


/* Letterlist table */

.letterlist {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 1rem;
}

.letterlist.morethan2:after {
  -webkit-transition: all 250ms ease-in-out;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(white));
  background: linear-gradient(to bottom,transparent,white);
}

.letterlist:hover:after {
  height: 0;
}

.letterlist caption {
  display: block;
  margin: 0 0 .6rem 1rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.2em;
}

.letterlist tbody {
  display: block;
  max-height: 30vh;
  overflow: auto;
}

.letterlist tbody:focus {
  /*outline: 1px solid #238390;*/
  outline: none;
}

thead,
.letterlist-row {
  display: block;
  width: 100%;
}

.letterlist-row {
  padding: .5em 0;
}

thead {
  display: none;
}

.letterlist-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.letterlist-row.selected {
  background-color: lightblue;
  background-color: rgba(0, 113, 230, 0.08);
}

th,
td {
  font-size: .8rem;
  text-align: left;
  padding: .1em 1rem .2em;
}

th {
  vertical-align: bottom;
}

td {
  display: grid;
  grid-template-columns: 4em auto;
  grid-gap: 1em 0.5em;
}

td::before {
  font-weight: bold;
  display: inline;
}

.letterlist .sender::before {
  content: 'From: ';
}

.letterlist .receiver::before {
  content: 'To: ';
}

.date::before {
  content: 'On: ';
}

.letter {
  margin: 2rem 0;
  text-align: left;
}

.letter-header {
  justify-content: flex-start;
  padding: 1rem;
  margin: 0;
  font-weight: 300;
  background-color: #228390;
  color: floralwhite;
  box-shadow: 5px 5px 5px #999;
}

.letter-header .multiple {
  display: block;
}

.letter-version {
  color: #666;
  margin: 0 0 2rem;
  border: solid #d9d9d9;
  border-width: 0 1px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #999;
}

.letter-version.text {
  box-shadow: 0px 10px 10px -10px 10px #999;
  color: black;
}

.letter-text,
.version-header,
.letter-meta {
  padding: 1rem;
  margin: 0;
}

.version-header {
  text-transform: capitalize;
}

.letter-version.text .letter-text {
  color: black;
  background-color: #fefdfa;
}

.letter-meta {
  font-size: .8rem;
}

.letter-meta,
.version-header {
  background-color: #d9d9d9;
}

.letter-meta p {
  margin: 0 0 0.3rem 0;
}

.letter-meta p:last-child {
  margin: 0;
}

.letter-meta p::after {
  content: '.';
}

.metasuffix {
  text-transform: lowercase;
  font-weight: 300;
}

.letter-references,
.letter-references ul {
  padding: 0 1rem;
}

.letter-id {
  margin: .5rem 1rem 0;
}

.literature {
  margin: 0 0 .5rem 0;
}

.literature-title {
  font-style: italic;
}

.reference-comment {
  padding-left: .5rem;
  text-transform: capitalize;
}

.person-card {
  position: relative;
  border: solid #d9d9d9;
  border-width: 1px 0;
  padding: 1rem;
  margin: 0 0 1rem;
}

.person-card .name {
  margin: 0 0 1rem;
}

.person-card p {
  font-size: .8rem;
}

.person-card .note {
  display: block;
  margin-top: 1rem;
  font-size: .6rem;
}

.person-card p:last-of-type {
  margin-bottom: 0;
}

.curriculum:first-letter {
  text-transform: uppercase;
}

@media (min-width: 45rem) {

  h1 {
    text-align: center;
    font-size: 1.8rem;
  }

  .letterlist {
    display: table;
    border-collapse: collapse;
  }

  .letterlist.morethan2:after {
    content: none;
  }

  .letterlist.morethan5:after {
    content: ' ';
  }

  .letterlist caption {
    margin: 0 0 0 1rem;
  }

  .letterlist tbody {
    display: block;
    max-height: 150px;
  }

  thead,
  .letterlist-row {
    display: table;
    table-layout: fixed; /* even columns width , fix width of table too */
  }

  .letterlist-row {
    transition: 500ms all;
    background-color: inherit;
    color: black
  }

  .letterlist-row:hover {
    cursor: pointer;
    background-color: #666666;
    background-color: rgba(0, 113, 230, 0.08);
  }

  th,
  td {
    font-size: .8rem;
    text-align: left;
    padding: .6em 1rem .7em;
  }

  th {
    padding-bottom: .3rem;
    vertical-align: bottom;
  }

  td {
    display: table-cell;
    vertical-align: text-top;
    border-right: 1px solid #e9e9e9;
  }

  td:last-child,
  th:last-child {
    border: none;
  }

  td::before {
    display: none;
  }

  .letter-version.text .letter-text {
    background-image: url('./lightpaperfibers.png');
  }

  .person-card {
    border-width: 1px;
    padding: 1rem;
    margin: 0 0 1rem;
  }

  .person-card .note {
    position: absolute;
    margin-top: 4px;
    top: 1rem;
    right: 1rem;
  }

  .person:hover {
    cursor: pointer;
    background: rgba(255,255,255,.2);
  }
}
