.App {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

header {
  display: flex;
  flex-flow: column;
  max-height: 100vh;
}

h1 {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  text-align: center;
  font-size: 1em;
  color: #228390;
  cursor: pointer;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.4rem;
}

a {
  color: #228390;
  border-bottom: 1px solid #228390;
  transition: 250ms all;
  text-decoration: none;
  line-height: 1.4rem;
}

a:hover,
a:visited {
  border-color: transparent;
}

a:visited {
  color: #666666;
  border-color: #666666;
}

a:hover {
  color: #228390;
}

acronym {
  text-decoration: none;
}

/* Tabs */

.react-tabs__tab-list {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}

.react-tabs__tab-list li {
  display: block;
  flex: 1;
  padding: 8px;
  border-right: 1px solid #54949c;
  background-color: #238390;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.react-tabs__tab-list li:hover,
.react-tabs__tab-list li.react-tabs__tab--selected {
  background-color: #54949c;
}

.react-tabs__tab-list li:last-child {
  border-right: none;
}

.react-tabs__tab-panel {
  transition: all 300ms;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.tab-icon {
  display: block;
  height: 30px;
  width: 100%;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.tab-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#icon-id {
  background-image: url("./id.png");
}

#icon-calendar {
  background-image: url("./calendar.png");
}

#icon-person {
  background-image: url("./person.png");
}

/* Drawer */

@keyframes drawerOpen {
  from {left: -100%;}
  to {left: 0%;}
}

.drawer {
  margin: 40px 0 0;
  padding-bottom: 20px;
  text-align: left;
  height: calc(100% - 60px);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 300ms;
  animation-name: drawerOpen;
  animation-duration: 300ms;
}

.drawer.closed {
  left: -100%;
}

.drawer-inner {
  width: 50rem;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 0 2rem;
  box-shadow: 5px 5px 5px #999;
}

.icon {
  font-style: normal;
  font-weight: normal;
}

.close-left {
  float: left;
  height: 1rem;
  width: 1rem;
  padding: .1rem .5rem;
  margin: 0 .5rem 0 -0.5rem;
  background-image: url('./left-arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.close-left:hover {
  background-color: #238390;
}

.note {
  color: #666666;
}

.fetch-message,
header > p {
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 3px;
  background: #f9f9f9;
  color: #228390;
}

/* Errors */

.error {
  padding: 0 1rem 2rem;
  color: red;
  text-align: center;
  font-size: 1.2rem;
}

.validation-instructions {
  margin: 1rem 0 0;
  color: #238390;
}

/* Form */

.user-input form {
  margin: .5rem 0 1rem ;
  padding: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

select,
input {
  border-color: #d9d9d9 #ccc #b3b3b3;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 1rem;
  border-radius: 3px;
  padding: .5rem;
}

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #228390 !important;
  box-shadow: none !important;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 40px;
  max-width: 100%;
  cursor: pointer;
}

select:focus,
input:focus {
  outline: none;
  border-color: #238390;
}

/* Remove default arrow (IE) */
select::-ms-expand {
  display: none;
}

.person-selection-wrapper {
  margin: 2rem 0;
}

.person-selection {
  position: relative;
}

.person-selection:after {
  content: "\25BE";
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 16px;
  z-index: -1;
}

.input-numbers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.user-input h2 {
  color: #228390;
  font-size: 1.2rem;
  margin: 0 0 0 1.7rem;
  font-style: italic;
}

.date-selection {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}

.date-selection a {
  display: block;
  margin: .5rem 1rem .5rem 0;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.date-input,
.id-input {
  width: 80px;
}

#id-input {
  width: auto;
}

.year-input {
  min-width: 94px;
}

.date-input {
  margin: 1rem .5rem 0;
}

.id-input {
  margin: 1rem 1rem 0 0;
}

.id-input-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

label {
  font-size: .7rem;
  text-indent: 10px;
}


/* Letterlist table */

.letterlist {
  flex: 1;
  overflow: scroll;
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 1rem;
}

.letterlist:hover:after {
  height: 0;
}

.letterlist caption {
  display: block;
  margin: 0 0 .6rem 1rem;
  text-align: left;
  font-weight: 600;
  font-size: 1.2em;
}

.letterlist tbody {
  display: block;
  /*max-height: 30vh;*/
  /*overflow: auto;*/
}

.letterlist tbody:focus {
  outline: none;
}

thead,
.letterlist-row {
  display: block;
  width: 100%;
}

.letterlist-row {
  padding: .5em 0;
}

thead {
  display: none;
}

.letterlist-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.letterlist-row.selected {
  background-color: lightblue;
  background-color: rgba(0, 113, 230, 0.08);
}

th,
td {
  font-size: .8rem;
  text-align: left;
  padding: .1em 1rem .2em;
}

th {
  vertical-align: bottom;
}

td {
  display: grid;
  grid-template-columns: 4em auto;
  grid-gap: 1em 0.5em;
}

td::before {
  font-weight: bold;
  display: inline;
}

.letterlist .sender::before {
  content: 'From: ';
}

.letterlist .receiver::before {
  content: 'To: ';
}

.date::before {
  content: 'On: ';
}

.letter {
  text-align: left;
}

.letter-header {
  padding: 1rem;
  margin: 0;
  font-weight: 300;
  background-color: #228390;
  color: floralwhite;
}

.letter-header .multiple {
  display: block;
}

.letter-header .person {
  text-decoration: underline;
  text-decoration-color: #8fbabf;
  text-decoration-skip-ink: auto;
}

.letter-version {
  color: #666;
  margin: 0 0 2rem;
  border-width: 0 1px;
  box-sizing: border-box;
}

.letter-version.text {
  color: black;
}

.letter-text,
.version-header,
.letter-meta {
  padding: 1rem;
  margin: 0;
}

.version-header {
  text-transform: capitalize;
}

.letter-version.text .letter-text {
  color: black;
  background-color: #fefdfa;
}

.letter-meta {
  font-size: .8rem;
}

.letter-meta,
.version-header {
  background-color: #d9d9d9;
}

.letter-meta p {
  margin: 0 0 0.3rem 0;
}

.letter-meta p:last-child {
  margin: 0;
}

.letter-meta p::after {
  content: '.';
}

.metasuffix {
  text-transform: lowercase;
  font-weight: 300;
}

.letter-references,
.letter-references ul {
  padding: 0 1rem;
}

.letter-id {
  margin: .5rem 1rem 0;
}

.literature {
  margin: 0 0 .5rem 0;
}

.literature-title {
  font-style: italic;
}

.reference-comment {
  padding-left: .5rem;
  text-transform: capitalize;
}

.person-card {
  position: relative;
  border: solid #d9d9d9;
  border-width: 1px 0;
  padding: 1rem;
  margin: 0 0 1rem;
}

.person-card .name {
  margin: 0 0 1rem;
}

.person-card p {
  font-size: .8rem;
}

.person-card .note {
  display: block;
  margin-top: 1rem;
  font-size: .6rem;
}

.person-card p:last-of-type {
  margin-bottom: 0;
}

.curriculum:first-letter {
  text-transform: uppercase;
}

@media (min-width: 50rem) {

  h1 {
    height: 65px;
    font-size: 1.8em;
  }

  .about {
    padding: 1rem 0 0;
  }

  /* Tabs */

  .react-tabs__tab-panel {
    padding: 0;
  }

  .react-tabs__tab-list li {
    padding: 8px 8px 6px;
  }

  .tab-icon {
    background-size: 20px;
    height: 20px;
  }

  .tab-text {
    position: static;
    overflow: hidden;
    clip: unset;
    height: auto;
    width: auto;
    margin: 0;
    padding: 2px 0 0;
    letter-spacing: 1px;
    display: block;
    text-transform: lowercase;
    border: 0;
  }

  /* Drawer */
  .drawer {
    margin: 65px 0 0;
    height: calc(100% - 85px);
  }

  .close-left {
    position: relative;
    bottom: calc((8px + .8rem)/2);
    padding: .8rem;
    background-color: #54949c;
    background-size: 20px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  .letterlist {
    display: table;
    border-collapse: collapse;
  }

  .letterlist.morethan2:after {
    content: none;
  }

  .letterlist.morethan5:after {
    content: ' ';
  }

  .letterlist caption {
    margin: 0 0 0 1rem;
  }

  .letterlist tbody {
    display: block;
    max-height: 150px;
  }

  thead,
  .letterlist-row {
    display: table;
    table-layout: fixed; /* even columns width , fixed table width */
  }

  .letterlist-row {
    transition: 300ms all;
    background-color: inherit;
    color: black
  }

  .letterlist-row:hover {
    cursor: pointer;
    background-color: #666666;
    background-color: rgba(0, 113, 230, 0.08);
  }

  th,
  td {
    font-size: .8rem;
    text-align: left;
    padding: .6em 1rem .7em;
  }

  th {
    padding-bottom: .3rem;
    vertical-align: bottom;
  }

  td {
    display: table-cell;
    vertical-align: text-top;
    border-right: 1px solid #e9e9e9;
  }

  td:last-child,
  th:last-child {
    border: none;
  }

  td::before {
    display: none;
  }

  .letter-version.text .letter-text {
    background-image: url('./lightpaperfibers.png');
  }

  .person-card {
    border-width: 1px;
    padding: 1rem;
    margin: 0 0 1rem;
  }

  .person-card .note {
    position: absolute;
    margin-top: 4px;
    top: 1rem;
    right: 1rem;
  }

  .person:hover {
    cursor: pointer;
    background: rgba(255,255,255,.2);
  }
}
